input {
    border-radius: 10px;
    background-color: gold;
}

label{
    border-radius: 10px;
    background-color: yellow;
}

#sp{
    border-radius: 10px;
    background-color: yellow;
}

#error{
    color: red;
    border-radius: 5px;
    background-color: darkred;
}